apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://172.20.0.30:9090
    basicAuth: false
    isDefault: true
    version: 1
    editable: true